.bibsonomy_publications { padding-top: 2px; margin-left: 3px; }

.bibsonomy_publications li { font-size: 14px; line-height: 18px; padding-bottom: 25px; }

.bibsonomy_publications div.bibsonomy_entry { font-size: 13px; }

.bibsonomy_publications span.title { text-decoration: none; font-size: 14px !important; }

.bibsonomy_publications span.pdf { display: block; font-size: 14px; line-height: 24px;
	padding: 0 10px 0 0; margin-top: 5px; float: left; }

.bibsonomy_publications span.bibtex { display: block; font-size: 14px; line-height: 24px;
	padding: 0 10px 0 0; margin-top: 5px; float: left; }

.pbm_preview_pic { float: left; margin-right: 25px; max-width: 64px; -webkit-box-shadow: 1px 1px 3px 0 rgba(35, 35, 35, 0.85); /* WebKit */
-moz-box-shadow: 1px 1px 3px 0 rgba(35, 35, 35, 0.85); /* Firefox */
box-shadow: 1px 1px 3px 0 rgba(35, 35, 35, 0.85); /* Standard */   }

.pbm_format,
.pbm-bib-links,
.csl-bib-body { margin-left: 80px; }

.pbm_format { margin-top: 20px;}

.pbm_format textarea { -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; }

#pbm_trailimageid { position: absolute; display: none; left: 0px; top: -1000px; border: 1px solid #ccc;
        background: #efefef; border-radius: 3px; z-index: 1000; }

.pbm_placeholder_wrap { float: left; width: 65px; }
.pbm_placeholder { margin: 0 auto; width: 65px; height: 47px; background: url([[pix:pbm|previews]]) no-repeat 0px -54px; }

.pbm_article-newspaper,
.pbm_article-magazine,
.pbm_article-journal,
.pbm_article { background-position: 0 0; height: 53px; width: 49px; }
.pbm_book { background-position: 0 -54px; height: 46px; width: 65px; }
.pbm_booklet { background-position: 0 -101px; height: 65px; width: 59px; }
.pbm_conference { background-position: 0 -167px; height: 44px; width: 56px; }
.pbm_electronic { background-position: 0 -212px; height: 45px; width: 55px; }
.pbm_inbook { background-position: 0 -258px; height: 60px; width: 64px; }
.pbm_chapter,
.pbm_incollection { background-position: 0 -319px; height: 60px; width: 64px; }
.pbm_paper-conference,
.pbm_inproceedings { background-position: 0 -380px; height: 49px; width: 36px; }
.pbm_manual { background-position: 0 -430px; height: 46px; width: 61px; }
.pbm_mastersthesis { background-position: 0 -477px; height: 64px; width: 58px; }
.pbm_misc { background-position: 0 -542px; height: 49px; width: 36px; }
.pbm_patent { background-position: 0 -592px; height: 55px; width: 43px; }
.pbm_pdf { background-position: 0 -648px; height: 30px; width: 59px; }
.pbm_periodical { background-position: 0 -679px; height: 41px; width: 60px; }
.pbm_phdthesis { background-position: 0 -721px; height: 64px; width: 59px; }
.pbm_preamble { background-position: 0 -786px; height: 53px; width: 50px; }
.pbm_presentation { background-position: 0 -840px; height: 46px; width: 55px; }
.pbm_proceedings { background-position: 0 -887px; height: 60px; width: 47px; }
.pbm_standard { background-position: 0 -948px; height: 54px; width: 42px; }
.pbm_techreport { background-position: 0 -1003px; height: 52px; width: 55px; }
.pbm_unpublished { background-position: 0 -1056px; height: 49px; width: 36px; }
.pbm_web { background-position: 0 -1106px; height: 37px; width: 61px; }

/*Add to my list icon*/
.pbm-tick,
.pbm-plus {width: 16px; height: 16px; background: url([[pix:pbm|plus_16]]) no-repeat 0px 0px; position: relative; left: -3px; bottom: -22px;}
.pbm-tick { background-image: url([[pix:pbm|tick_16]]); }
.pbm-add-to-my-list-wrap {float: right; width: 32px; height: 34px; background: url([[pix:pbm|icon_small]]) no-repeat 0px 0px;}
.pbm-add-to-my-list { display: block; width: 32px; height: 34px; }
.pbm-add-to-my-list-wrap img {position: relative; left: -18px; bottom: -18px; }
